## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags
\.netrwhist

# Ignore clasp config
/.clasp.json

# Ignore local settings and manifest files.
/settings.gs
/filters.gs
/appsscript.json
